* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
  font-size: 16px;
}

body {
  position: relative;
  background-color: #efefef;
  height: 100vh;
}

.container {
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  padding-left: 20px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: lightgray;
  border-bottom: 2px solid darkgray;
}

.header.connected {
  background-color: rgba(173, 216, 230, 0.75);
}

.header > button, input {
  height: 50px;
  font-family: "Roboto Light", sans-serif;
  font-size: 18px;
}

.header > button {
  min-width: 100px;
}

.connection-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  border-radius: 50%;
}

.header > .unconnected {
  border: 5px solid orange;
  background-color: rgba(255, 165, 0, 0.5);
}

.header > .connected {
  border: 5px solid green;
  background-color: rgba(0, 255, 0, 0.5);
  transform-origin: center;
  animation: beat .35s infinite alternate;
}

@keyframes beat {
  to {
    transform: scale(0.4);
    border: 10px solid green;
  }
}

.header > .connected-big {
  border: 5px solid lawngreen;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  border-radius: 50%;
}

.header > .connected-small {
  background-color: lawngreen;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 33px;
  border-radius: 50%;
}

.header > button {
  padding: 10px;
}

.contents-body {
  overflow: auto;
  background-color: #efefef;
  padding: 20px;
}

.notification {
  border: 5px solid #6565ff;
  display: grid;
  grid-template-rows: 30% auto;
  position: absolute;
  right: -400px;
  bottom: 20px;
  width: 300px;
  height: 100px;
  word-wrap: break-word;
  overflow: scroll;
  background-color: #f0ffff;
  border-radius: 10px;
  align-items: center;
}

.notification--header {
  width: 100%;
  height: 100%;
  line-height: 32px;
  background-color: #6565ff;
  color: white;
  text-align: center;
  font-weight: bold;
}

.notification--body {
  padding-left: 20px;
}

#response {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid lightgray;
  background-color: #fefefe;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow: auto;
  gap: 10px;
}

.visible {
  right: 20px;
  transition: right .6s ease-in;
}

.invisible {
  right: -400px;
  transition: right .4s ease-in;
}

.message-row {
  display: flex;
}

.message-row-left {
  justify-content: left;

}

.message-row-right {
  justify-content: right;
}

.message-item {
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  min-height: 40px;
  word-wrap: break-word;
}

.message-item-left {
  border: 1px solid gray;
  background-color: lightgray;
}

.message-item-right {
  border: 1px solid cyan;
  background-color: lightcyan;
}

.message-from {
  margin-top: 5px;
  font-size: 12px;
  color: darkgray;
}

.message-from-right {
  text-align: right;
}

.message-from-left {
  text-align: left;
}